/* Adjusting the chat header to position the logout button */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white; /* Example background color */
    position: relative; /* Ensure the header is positioned relatively for absolute positioning of the logout button */
  }

  .chat-page-container {
    display: flex;
    height: 100vh;
  }
  
  .chat-content {
  flex-grow: 1; /* Take up the remaining width */
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it fills the height of its parent */
}

.messages-container {
  flex-grow: 1; /* Allows this container to expand and fill available space */
  overflow-y: auto; /* Enables scrolling for overflow content */
  padding: 10px;
  margin-bottom: auto; /* Pushes anything after it to the bottom */
}

  /* Styling and positioning the logout button */
  .logout-button {
    position: absolute; /* Positioning the button absolutely within the header */
    right: 10px; /* 10px from the right edge of the header */
    top: 10px; /* Adjusted to align within the header */
    width: 10%; /* Button width as 10% of the screen width */
    padding: 5px;
    background-color: #d9534f; /* Bootstrap 'btn-danger' color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100px; /* Optional: to prevent the button from becoming too wide on larger screens */
  }

  /* Adjusting the message form layout */
  .message-form {
    display: flex;
    padding: 10px;
    background-color: white; /* Matching the header background */
  }
  
  /* Adjusting the message input */
  .message-input {
    flex-grow: 1; /* Allows the input to grow */
    width: 80%; /* Input takes up 80% of the form width */
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  /* Adjusting the send button */
  .send-button {
    width: 10%; /* Button width as 10% of the form width */
    padding: 10px;
    background-color: #5cb85c; /* Bootstrap 'btn-success' color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100px; /* Optional: to prevent the button from becoming too wide */
  }